deps/*/README.md
deps/*/CHANGELOG.md
deps/*/CONTRIBUTING.md
deps/*/package.json
deps/*/bower.json

deps/qmlweb/lib/*.js*
!deps/qmlweb/lib/*.min.js*
deps/qmlweb/*.js
deps/qmlweb/tests
deps/qmlweb/src

deps/codemirror/bin
deps/codemirror/addon/*
deps/codemirror/keymap/*
deps/codemirror/theme/*
deps/codemirror/mode/*
!deps/codemirror/mode/meta.js
!deps/codemirror/mode/javascript

*~
