@import url('../node_modules/normalize.css/normalize.css');

/*
body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
*/

#header {
  background: #59b312;
  background-image: url('../node_modules/qmlweb/misc/logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height: 120px;
  width: 100vw;
}

#project_tagline {
  margin-bottom: 0;
}

#buttons {
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: right;
}

#buttons p {
  margin: 5px 0;
}

#footer {
  width: 100vw;
  display: none;
}

textarea, iframe {
  box-sizing: border-box;
  margin: 0;
  display: block;
}
iframe {
  border: 0px none;
}
#result, #result > iframe,
#code, #code .CodeMirror, #code > textarea {
  width: 50vw;
  height: calc(100vh - 120px);
}

/* Alternate: enable flex */
#result {
  position: absolute;
  bottom: 0;
  right: 0;
}
