@import url('../node_modules/normalize.css/normalize.css');

body {
  font-family: 'PT Sans', 'Liberation Sans', 'Calibri', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
/*
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
*/
}

#header {
  background: #59b312;
  color: #fff;
  background-image: url('../node_modules/qmlweb/misc/logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  height: 120px;
  width: 100vw;
}

#title {
  margin: 0;
  font-size: 42px;
  font-weight: normal;
}

#tagline {
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: -1px;
}

#buttons {
  position: absolute;
  top: 50px;
  right: 20px;
  text-align: right;
}

#buttons p {
  margin: 5px 0;
}

#footer {
  width: 100vw;
  display: none;
}

textarea, iframe {
  box-sizing: border-box;
  margin: 0;
  display: block;
}
iframe {
  border: 0px none;
}
#result, #result > iframe,
#code, #code .CodeMirror, #code > textarea {
  width: 50vw;
  height: calc(100vh - 120px);
}

/* Alternate: enable flex */
#result {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333;
}
